.comments {
  max-width: $entry-comment-max-width;
  margin: auto;

  @include breakpoint($large) {
    margin: 0;
  }
}

.comments h2 {
  text-align: center;
}

.comment-list {
  padding: 0;
}

.comment {
  margin: 0 0 1rem;
}

.comments .parent,
.comments .depth-1,
.comments .children {
  background-color: $bds-light-grey;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border: 5px solid $white;
  border-right: none;
}

.comment-body {
  padding: 0 1.5rem 0 0;
}

.comments .depth-1 .comment-body {
  margin: 0 0 1rem;
  border: none;
}

.comment-respond {
  padding: 2rem;
}

.comment-reply-title {
  text-align: center;
}

.comment-form-comment label,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
  display: block;
}

.comment-form-url {
  display: none;
}

.comment-form-comment textarea {
  width: 100%;
}

textarea,
input {
  @extend %extention-p;

  background-color: $bds-light-grey;
}

.form-submit .submit {
  @extend %secondary-button;

  text-decoration: none;
  font-family: $secondary-font;
  margin: 1rem auto;
}
