.site-header {
  position: relative;
  background-color: $bds-brown;
  height: $header-height;
}

.header-inner {
  padding: 0 4rem;
  margin: 0 auto;
}

.logo {
  float: left;
  height: 60px;
  margin: 10px 0;
}

.header-right {
  float: right;
  height: $header-height;
}

.header-email {
  width: 304px;
  display: inline-block;
  margin-right: 2rem;
}

.header-search {
  width: 30px;
  display: inline-block;
}

.fa {
  font-size: 22px;
}

.email-prompt {
  display: none;
}

.site-header .email-capture-box {
  width: 190px;
  height: $header-email-height;
  border-radius: 2px 0 0 2px;
}

.site-header .email-submit-button {
  width: 94px;
  height: $header-email-height;
  padding: 6px;
  border-radius: 0 2px 2px 0;
}
