.site-header {
  position: relative;
  background-color: $bds-brown;
  height: $header-height;
}

.header-inner {
  padding: 0 4rem;
  margin: 0 auto;
}

.logo {
  float: left;
  height: 60px;
  margin: 10px 0;
}

.header-right {
  float: right;
  height: $header-height;
}

.header-email {
  width: 319px;
  display: inline-block;
  margin-right: 1.75rem;
}

.header-search {
  width: 30px;
  display: inline-block;
}

.fa-search {
  font-size: 22px;
  color: $placeholder-text-color;
}

.email-prompt {
  display: none;
}

.line {
  position: relative;
}

.envelope-wrapper {
  background-color: $white;
  position: absolute;
  left: 0;
  width: 10px;
  height: $header-email-height - 12px;
  padding: 3px 4px 0;
  margin: 3px 0;
}

.fa-envelope-o {
  font-size: 19px;
  color: $placeholder-text-color;
}

.site-header .email-capture-box {
  width: 182px;
  height: $header-email-height;
  margin-left: -4px;
  padding-left: 37px;
  border-radius: 2px 0 0 2px;
}

.site-header .email-submit-button {
  width: 94px;
  height: $header-email-height;
  padding: 6px;
  border-radius: 0 2px 2px 0;
}
