.header-organism {
  position: relative;
  background-color: $bds-brown;
  height: $header-height;
}

.header-inner {
  padding: $header-padding;
  margin: 0 auto;
}

.logo {
  float: left;
  height: 50px;
  margin: 10px 0;
}

.header-right {
  display: none;
  height: $header-height;

  @include breakpoint($header-medium-breakpoint) {
    display: block;
    float: right;
  }
}

.header-email {
  width: 319px;
  display: inline-block;
  margin-right: 1.75rem;
}

.site-header .email-prompt {
  display: none;
}

.site-header .line {
  width: 323px;
  margin-top: 17px;
}

.site-header .email-capture-box {
  width: 182px;
}

.site-header .email-submit-button {
  width: 94px;
}

.header-search {
  width: 30px;
  display: inline-block;
}

.fa-search {
  font-size: 22px;
  color: $placeholder-text-color;
}
