.topnav {
  display: block;
  overflow: hidden;
  background-color: $bds-maroon;
  width: 100%;
}

.topnav a:not(:first-child),
.topnav div ul .menu-item a,
.topnav .email-hook,
.topnav .nav-wrapper {
  display: none;
}

.topnav.responsive .email-hook,
.topnav.responsive .nav-wrapper {
  display: block;
}

.topnav.responsive {
  position: relative;
  border-bottom: 5px solid lighten($bds-maroon, 10%);
}

.topnav.responsive a,
.topnav.responsive div ul .menu-item a {
  float: none;
  display: block;
  text-align: left;

  @include breakpoint($medium) {
    display: inline-block;
    padding: 0.5rem 0;
  }
}

.nav-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.nav {
  @include makeRow($no-padding:true);

  margin: 0;
  padding: 0.25rem 0 3rem;
  text-align: center;
}

.menu-item {
  @include makeColumn($size:12, $offset:0);
  @include makeColumn(md, $size:4, $offset:0);

  display: inline;
  text-align: center;
  padding: 1rem 0;
}

.topnav a,
.topnav .menu-item a {
  @extend %homepage-h2;

  color: $white;
  text-align: left;
  text-decoration: none;
  font-family: $secondary-font;
  font-weight: bold;
  border-bottom: 1px solid lighten($bds-maroon, 10%);
  width: 80%;

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.sub-menu {
  padding-left: 30px;
}

.sub-menu .menu-item a {
  color: $white;
  font-size: $base-font-size;
  border-bottom: none;
  padding: 0.5rem 0;

  @include breakpoint($header-medium-breakpoint) {
    padding: 0.1rem 0;
  }
}
