.category {
  .body-wrap {
    @include makeRow($no-padding:true);

    max-width: 1240px;
    margin: 0 0.25rem;

    @include breakpoint($medium) {
      margin: 0 auto;
    }
  }

  .content-wrapper {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:11, $offset:1);

    padding-top: 1.25rem;
  }

  .content {
    @include makeRow($no-padding:true);
  }

  .main {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:7, $offset:0);
    @include makeColumn(lg, $size:8, $offset:0);

    @include breakpoint($medium) {
      padding-right: 4rem;
    }
  }

  .sidebar-wrapper {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:4, $offset:0);
    @include makeColumn(lg, $size:4, $offset:0);

    margin-top: 7.5rem;
    padding: 0;
  }
}

.category-mini-hero-wrapper {
  background-color: $white;
  padding: 1.5rem;
}

.category-mini-hero {
  @include makeColumn($size:10, $offset:1);
}

.category .category-title {
  padding: 0.75rem 0;
  color: $text-color;
  text-align: center;
}

.menu-diy-category-submenu-container {
  text-align: center;
  padding: 0 0 0.75rem;
}

.category-mini-hero .menu {
  padding: 1rem;
  border-bottom: 2px solid $bds-maroon;
  border-top: 2px solid $bds-maroon;
  background-color: $bds-maroon;
}

.category-mini-hero .menu li a {
  padding: 0 1.5rem;
  color: $white;
  text-decoration: none;
  font-family: $secondary-font;
  font-size: $small-point-size;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

.category h2 {
  font-family: $secondary-font;
  margin-bottom: 0.25rem;

  a {
    @extend %home-header-links;

    text-decoration: none;
  }
}

.category .post {
  margin: 0.75rem 0;
}
