.home .main {
  max-width: none;
  padding: 2rem 0;

  // In text.scss
  h2 {
    @extend %homepage-h2;

    // In links.scss
    a {
      @extend %home-header-links;
    }
  }

  // In entry-meta.scss
  .date-updated,
  .byline {
    @extend %entry-meta;
  }

  a {
    text-decoration: none;
  }
}
