.single {
  .body {
    background-color: #f7f7f7;
  }

  .body-wrap {
    @include makeRow($no-padding:true);

    max-width: 1240px;
    margin: 0 0.25rem;

    @include breakpoint($medium) {
      margin: 0 auto;
    }
  }

  .content-wrapper {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:11, $offset:1);

    padding-top: 1.25rem;
  }

  .content {
    @include makeRow($no-padding:true);
  }

  .main {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:7, $offset:0);
    @include makeColumn(lg, $size:8, $offset:0);
  }

  .sidebar-wrapper {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:4, $offset:0);
    @include makeColumn(lg, $size:4, $offset:0);

    margin-top: 7.5rem;
    padding: 0;
  }

  .entry-content {
    max-width: 630px;
    margin: auto;

    @include breakpoint($large) {
      margin: 0 auto 0 2.25rem;
    }
  }

  article header {
    border-bottom: 3px solid $bds-light-grey;
    max-width: 630px;
    margin: auto;

    @include breakpoint($medium) {
      margin-left: -1rem;
    }

    @include breakpoint($large) {
      margin-left: -1.85rem;
    }
  }
}
