.template-search,
.search {
  .main {
    @extend %three-up-margins;
  }

  .content {
    min-height: 80vh;
  }

  h1 {
    @extend %homepage-h2;

    text-align: center;
    margin: 3rem;
  }

  .search-form {
    @include makeRow($no-padding:true);

    max-width: $search-form-max-width;
    margin: 0 auto;
  }

  label {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:8, $offset:1);
  }

  .search-submit {
    @include makeColumn($size:12, $offset:0);
    @include makeColumn(md, $size:2, $offset:0);
  }

  .alert-warning {
    text-align: center;
    margin: 0 0 2rem;
  }
}
