.mc_embed_signup {
  background-color: $bds-maroon;
  width: 100%;
  margin: 0;
}

.email-capture-wrapper {
  padding: 1.5rem 1rem;
}

.email-prompt {
  color: $white;
  text-align: center;
  margin: 0 0 20px;
}

.visible-wrapper {
  width: 304px;
  margin: auto;

  @include breakpoint($medium) {
    width: 100%;
  }
}

.line {
  position: relative;
  width: 323px;
  height: 45px;
  margin: 1.25rem auto 0;

  @include breakpoint($medium) {
    width: 550px;
  }
}

.envelope-icon-wrapper {
  position: absolute;
  left: 0;
  background-color: $white;
  width: 10px;
  height: $email-input-height - 12px;
  padding: 3px 4px 0;
  margin: 6px 0 6px 4px;
}

.fa-envelope-o {
  font-size: 19px;
  color: $placeholder-text-color;
}

.email-capture-box {
  height: $email-input-height;
  background-color: $white;
  width: 182px;
  border: none;
  padding: 0 10px 0 39px;
  font-size: $xtra-small-point-size;
  font-family: $secondary-font;
  font-weight: bold;
  border-radius: 2px 0 0 2px;

  @include breakpoint($medium) {
    width: 323px;
  }
}

.email-submit-button {
  @extend %secondary-button;

  position: absolute;
  height: $email-input-height;
  width: 94px;
  top: 0;
  right: 0;
  padding: 6px;
  font-size: $small-point-size;
  border-radius: 0 2px 2px 0;

  @include breakpoint($medium) {
    width: 180px;
  }
}
