.mc_embed_signup {
  background-color: $bds-maroon;
  width: 100%;
  margin: 0;
}

.email-capture-wrapper {
  padding: 0.8rem 1rem;
}

.email-prompt {
  color: $white;
  text-align: center;
  margin: 0 0 20px;
}

.visible-wrapper {
  width: 304px;

  @include breakpoint($medium) {
    width: 100%;
  }
}

.email-input-wrapper {
  position: relative;
  height: 45px;
  margin-top: 1.25rem;
  width: 304px;

  @include breakpoint($medium) {
    width: auto;
  }
}

.email-capture-box {
  height: $email-input-height;
  background-color: $white;
  width: 190px;
  border: none;
  padding: 0 10px;
  font-size: $xtra-small-point-size;
  font-family: $secondary-font;
  font-weight: bold;

  @include breakpoint($medium) {
    width: 70%;
  }
}

.email-submit-button {
  @extend %secondary-button;

  position: absolute;
  height: $email-input-height;
  width: 94px;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: $small-point-size;

  @include breakpoint($medium) {
    width: 30%;
  }
}
