%entry-meta {
  display: inline;
  font-family: $secondary-font;
  font-size: $xtra-small-point-size;
  font-weight: 800;
}

.date-updated,
.byline {
  @extend %entry-meta;

  // In links.scss
  a {
    @extend %home-header-links;
  }
}
