.social-bar {
  background-color: $bds-brown;
  width: 100%;
  padding: 2rem;
}

.social-bar-wrapper {
  width: 150px;
  margin: 0 auto;
}

.pin-button {
  display: inline;
}

.fb_iframe_widget {
  display: inline !important;
}
