@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

// Font Sizes
$base-font-size: 18px;
$small-point-size: $base-font-size * 0.925;
$xtra-small-point-size: $base-font-size * 0.77;

// Font Families
$primary-font: 'Crimson Text', serif;
$secondary-font: sans-serif;

/* --------  Extends Regular Fonts  -------- */

%primary-font-regular {
  font-family: $primary-font;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

%secondary-font-regular {
  font-family: $secondary-font;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

/* --------  Extends Bold Fonts  -------- */

%primary-font-bold {
  font-family: $primary-font;
  font-weight: 700;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

%secondary-font-bold {
  font-family: $secondary-font;
  font-weight: 700;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}
