/** Colors */
$bds-maroon: #690d33;
$bds-brown: #e2d4ba;
$bds-blue: #018fd7;
$bds-light-grey: #f7f9f9;
$bds-medium-grey: #ddd;
$bds-medium-dark-grey: #757575;
$bds-dark-grey: #2a2b2a;

$black: #000;
$white: #fff;
$charcoal: $bds-dark-grey;
$placeholder-text-color: $bds-medium-dark-grey;

/** Specific Colors */
$text-color: #222;
$text-on-dark: #aaa;
$hero-cover-filter: #231f20;
$amazon-orange: #faa81a;

/** Box Model  */
$spacer: 2rem;

/** Email Molecule  */
$email-input-height: 37px;

/** Header & Nav  */
$header-medium-breakpoint: 1025px;
$header-height: 65px;
$header-padding-large: 0 4rem;
$header-padding-medium: 0 2rem;
$header-padding-small: 0 5px;

/** Hero Section  */
$mobile-hero-height: 80vh;
$hero-height: 475px;
$hero-cover-filter: #231f20;

/** Three Up Cards  */
$md-card-padding: 0 1rem;
$lg-card-padding: 0 2rem;

/** Search */
$search-form-max-width: 970px;
