@mixin header($size) {
  font-size: $size;
  font-family: $primary-font;
  font-weight: 800;
}

h1 {
  @include header(2rem);

  font-family: $secondary-font;
  margin: 0.5rem 0;

  @include breakpoint($large) {
    font-size: 2.65rem;
  }
}

h2 {
  @include header(1.5rem);

  @include breakpoint($large) {
    font-size: 1.5rem;
  }
}

%homepage-h2 {
  font-family: $secondary-font;

  @include breakpoint($large) {
    font-size: 1.25rem;
  }
}

h3 {
  @include header(1.25rem);

  @include breakpoint($large) {
    font-size: 1.17rem;
  }
}

h4 {
  @include header(1.1rem);

  @include breakpoint($large) {
    font-size: 1.35rem;
  }
}

h5 {
  @include header(1.1rem);

  @include breakpoint($large) {
    font-size: 1.2rem;
  }
}

h6 {
  @include header($small-point-size);
}

p {
  font-family: $primary-font;
  font-size: 21px;
  line-height: 1.35;
}
